* {
    margin: 0;
}

.header-nav {
    border: 1px solid black;
    background-color: purple;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
    transition: height 0.5s ease-in-out;
}

.header-nav:hover {
    height: 64px;
}

Link {
    text-decoration: none;
}

.span-style {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.clickable-span:hover {
    color: rgba(255, 255, 0, 0.75);
}

.active {
    color: rgba(255, 255, 0, 0.5);
    text-decoration: underline;
}